{% extends 'projects/base.html' %}
{% block main %}
    <div class="row clearfix">
        <div class="col-1-1">
            <h2>{{project.title}}</h2>
        </div>
    </div>
    <div class="row clearfix main-content">
        <div class="col-1-3">
            <img src="{{project.image.url}}" width="100%" height="auto">
        </div>
        <div class="col-2-3">
            <p>{{project.timestamp}}</p>
            <p>{{project.description}}</p>
            <p><a class="link-btn" href="{{project.link}}" target="_blank">View on Github</a></p>
        </div>
    </div>
    <div class="row clearfix comment-row">
        <div class="col-1-1">
            <form action="" method="POST">
                {% csrf_token %}
                {{comment_form.as_p}}
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
    {% if comments %}
        {% for comment in comments %}
            <div class="row clearfix">
                <div class="col-1-1">
                    <div class="comment-box">
                        {% if comment.author %}
                            <p class="comment-title">{{comment.author}} - {{comment.timestamp}}</p>
                        {% else %}
                            <p class="comment-title">Anonymous - {{comment.timestamp}}</p>
                        {% endif %}
                        <p class="comment-body">{{comment.body}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row clearfix">
            <div class="col-1-1">
                <h3>No Comments yet!</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}
